In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv('spamdetection.csv',encoding = "ISO-8859-1")

In [3]:
print(data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [4]:
data.shape

(5572, 5)

In [5]:
data.isnull().sum(axis=0)

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
data1=data.where((pd.notnull(data)),'')

In [8]:
data1.isnull().sum(axis=0)

v1            0
v2            0
Unnamed: 2    0
Unnamed: 3    0
Unnamed: 4    0
dtype: int64

In [44]:
data1['v3']=data1['v2']+data1['Unnamed: 2']+data1['Unnamed: 3']+data1['Unnamed: 4']

In [18]:
print(data1)

     v1                                                 v2 Unnamed: 2  \
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...        ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will Ì_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

     Unnamed: 3 Unnamed: 4                                                 v3
0                           Go until jurong point, crazy.. Available only ...
1                                               Ok lar... Joking wif u oni...
2                           Free entry in 2 a wkly comp to win FA Cup fina...
3                           U dun say so early hor... U c already then say...
4                           Nah I don't think he goes to usf, he lives aro...
...         ...        ...                                                ...
5567                        This is the 2nd time we have tried 2 contact u...
5568                                    Will Ì_ b going to esplanade fr home?
5569                        Pity, * was in mood for that. So...any other s...
5570                        The guy did some bitching but I acted like i'd...
5571                                               Rofl. Its true to its name

[5572 rows x 6 columns]

In [19]:
data1.drop(['v2','Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

     v1                                                 v3
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will Ì_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [20]:
data1.loc[data1['v1']=='spam','v1',]=0
data1.loc[data1['v1']=='ham','v1',]=1

In [46]:
x1=data1['v3']
x2=data1['v1']

In [49]:
print(x1)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v3, Length: 5572, dtype: object

In [50]:
print(x2)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [51]:
x1_train,x1_test,x2_train,x2_test = train_test_split(x1,x2,test_size=0.2,random_state=3)

In [52]:
print(x1.shape)
print(x1_train.shape)
print(x1_test.shape)

(5572,)
(4457,)
(1115,)

In [60]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x1_train_feature=feature_extraction.fit_transform(x1_train)
x1_test_feature=feature_extraction.transform(x1_test)

x2_train= x2_train.astype('int')
x2_test=x2_test.astype('int')

In [61]:
print(x1_train_feature)

  (0, 752)	0.3220379170882347
  (0, 4028)	0.24113508261715996
  (0, 4348)	0.3892626814654949
  (0, 6674)	0.2030335096759667
  (0, 3427)	0.3220379170882347
  (0, 2147)	0.3857054061603119
  (0, 3172)	0.44025652511151514
  (0, 3301)	0.2588528698483287
  (0, 3420)	0.2176582962091128
  (0, 4567)	0.2910576922728254
  (1, 4110)	0.380431198316959
  (1, 6953)	0.4306015894277422
  (1, 6492)	0.4769136859540388
  (1, 6517)	0.5652509076654626
  (1, 7532)	0.35056971070320353
  (2, 946)	0.4917598465723273
  (2, 2133)	0.42972812260098503
  (2, 3965)	0.40088501350982736
  (2, 2251)	0.413484525934624
  (2, 5898)	0.4917598465723273
  (3, 6214)	0.490566268030202
  (3, 1621)	0.5929266847710395
  (3, 1864)	0.37001355926569357
  (3, 7542)	0.5204542718787862
  (4, 2559)	0.7422865729680209
  :	:
  (4452, 2147)	0.31254518021348604
  (4453, 1012)	0.6760129013031282
  (4453, 7361)	0.5787739591782677
  (4453, 1784)	0.45610005640082985
  (4454, 3064)	0.4262945990163933
  (4454, 2110)	0.38106367960758625
  (4454, 3124)	0.3448412711299357
  (4454, 2024)	0.4167950488815833
  (4454, 1062)	0.3193996459223235
  (4454, 7435)	0.3109446139118902
  (4454, 5436)	0.4262945990163933
  (4455, 1162)	0.39041176947048223
  (4455, 6508)	0.39041176947048223
  (4455, 6436)	0.257257135006767
  (4455, 2793)	0.3229885602536263
  (4455, 7447)	0.291916883042644
  (4455, 7496)	0.3000898031960942
  (4455, 2132)	0.31399310409370035
  (4455, 4303)	0.3065045782206861
  (4455, 3810)	0.16809957068272435
  (4455, 4831)	0.3585957456681499
  (4456, 6191)	0.5304350313291551
  (4456, 6207)	0.5304350313291551
  (4456, 1405)	0.4460036316446079
  (4456, 4612)	0.48821933148688146

In [62]:
model=LogisticRegression()

In [63]:
model.fit(x1_train_feature,x2_train)

LogisticRegression()

In [66]:
prediction_training=model.predict(x1_train_feature)
accuracy_train=accuracy_score(x2_train,prediction_training)

In [67]:
print(accuracy_train)

0.9661207089970832

In [68]:
prediction_testing=model.predict(x1_test_feature)
accuracy_test=accuracy_score(x2_test,prediction_testing)

In [69]:
print(accuracy_test)

0.9623318385650225

In [78]:
input_mail=["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times."]
input_feature=feature_extraction.transform(input_mail)
prediction=model.predict(input_feature)
print(prediction)
            
if (prediction[0]==1):
  print('ham mail')
else:
  print('spam mail')

[1]
ham mail