In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
data=pd.read_csv("Advertising.csv")

In [14]:
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [15]:
del data['Unnamed: 0']
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [16]:
X = data.drop(['Sales'], axis=1).values
y = data['Sales'].values.reshape(-1,1)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [19]:
y_pred=regressor.predict(X_test)

In [20]:
print("Coefficient = ",regressor.coef_)
print("Intercept = ",regressor.intercept_)
from sklearn.metrics import r2_score
print("R2 Score = %.2f"%r2_score(y_test, y_pred))
print("Sales = %.2f"%regressor.predict([[45,50,75]]))

Coefficient =  [[0.04472952 0.18919505 0.00276111]]
Intercept =  [2.97906734]
R2 Score = 0.90
Sales = 14.66

In [21]:
print("Enter the ammount you will invest on:")
tv = float(input("TV : "))
radio = float(input("Radio : "))
newspaper = float(input("Newspaper : "))

Enter the ammount you will invest on:
TV : 20
Radio : 30
Newspaper : 70

In [22]:
output = regressor.predict([[tv,radio,newspaper]])
print("Sales = %.2f"%output)

Sales = 9.74